@model IEnumerable<ElectronicInvoicesSystem.ModelsView.CustomersViewModel>

@{
    ViewData["Title"] = "العملاء";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<link href="~/lib/bootstrap-v4-rtl-main/dist/css/bootstrap-rtl.css" rel="stylesheet" />

<h1> <i class="fa fa-file-o"> </i>  العملاء </h1>
<p>
    <a asp-action="Create" class="btn btn-outline-primary"> <i class="fa fa-file-o"></i> جديد </a>
</p>
<table class="table table-hover table-striped table-responsive-md" >
    <thead class="w-100">
        <tr class="bg-secondary">
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.NationalID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Governate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionCity)
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.NationalID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Governate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionCity)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.UniqueId }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.UniqueId })
                </td>
            </tr>
        }
    </tbody>
</table>
