@model IEnumerable<ElectronicInvoicesSystem.ModelsView.CompanyViewModel>

@{
    ViewData["Title"] = "الشركات";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<link href="~/lib/bootstrap-v4-rtl-main/dist/css/bootstrap-rtl.css" rel="stylesheet" />
<h1> <i class="fa fa-file-o"> </i>  الشركات </h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"> <i class="fa fa-file-o"></i> جديد </a>
</p>
<table class="table table-hover table-striped table-responsive-md">
    <thead>
        <tr class="bg-secondary">
            <th>
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxAuthorityRegestrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Governate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNumber)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxAuthorityRegestrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Governate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingNumber)
                </td>          
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.UniqueId }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.UniqueId })
                </td>
            </tr>
        }
    </tbody>
</table>
